page-category {
    .slide-x2 {
        height: 88px;
    }
    .row-custom {
        flex-wrap: inherit !important;
    }
    .mgtd-10 {
        margin-top: -10px;
    }
    .mgtd-18 {
        margin-top: -18px;
    }
    .center {
        text-align: center;
    }
    .mgt-6 {
        margin-top: -4px;
    }
    .item-ios ion-thumbnail img {
        width: 86px !important;
        height: 66px !important;
    }
    .item-ios ion-thumbnail {
        min-width: 86px !important;
        min-height: 66px !important;
    }
    .bg {
        background-color: #c2c2c2;
        display: inline-block;
        border-radius: 4px;
        padding: 2px;
    }
}