page-my-profile {
    .center {
        text-align: center;
    }
    .top-20 {
        margin-top: -20px;
    }
    .bdr {
        border-left: 1px solid #c2c2c2;
    }
    .tar {
        text-align: right;
    }
    .bdb {
        border-bottom: 1px solid #c2c2c2;
    }
    .pdt {
        padding-top: 20px;
    }
    .bg-1 {
        background-color: rgb(152, 64, 64);
        color: #fff;
    }
}