<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button ion-button icon-only (click)="gotoProfilePage()">
        <ion-icon name="person"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>EatsyD</ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="cart"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content no-bounce>
  <ion-searchbar placeholder="search" [(ngModel)]="search"></ion-searchbar>
  <ion-grid>
    <ion-row>
      <ion-col>
      <div *ngIf="bannerList.length > 0">
        <ion-slides pager autoplay="3000" loop="true">
          <ion-slide *ngFor="let item of bannerList">
            <img src="{{item}}" alt="image">
          </ion-slide>
        </ion-slides>
      </div>
    </ion-col>
    </ion-row>
  </ion-grid>
  <!-- <ion-row class="mgtd-10">
    <ion-col col-9>
      <img class="mgt-10" src="./assets/image/logoeatsyd.png" width="36" height="36">
    </ion-col>
    <ion-col col-3>
      <h6>See all>></h6>
    </ion-col>
  </ion-row> -->

  <ion-segment [(ngModel)]="segmentData" class="mgtop-14">
    <ion-segment-button value="nearby">
      Nearby
      <ion-icon name="pin"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="popular">
      Popular
      <ion-icon name="star"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="favolite">
      Favolite
      <ion-icon name="heart"></ion-icon>
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="segmentData">
    <ion-list *ngSwitchCase="'nearby'">
      <div *ngIf="shopList.length > 0">
        <ion-scroll scrollX="true" class="slide-x">
          <ion-row no-padding class="row-custom">
            <ion-col col-4 *ngFor="let item of shopList">
              <img [src]="item.image" width="124px" height="84px">
              <p>
                <ion-icon name="star" color="star"></ion-icon>
                <ion-icon name="star" color="star"></ion-icon>
                <ion-icon name="star" color="star"></ion-icon>
                <ion-icon name="star" color="star"></ion-icon>
                <ion-icon name="star" color="star"></ion-icon>
              </p>
              <h5 class="mgtd-10">{{item.name}}</h5>
              <p class="mgtd-10 c-font">{{'Coffee/Break'}}</p>
              <p class="mgtd-10 c-font">{{'Lumlooka'}}</p>
            </ion-col>
          </ion-row>
        </ion-scroll>
      </div>

      <div *ngIf="promotionList.length > 0">
        <ion-scroll scrollX="true" class="slide-x2">
          <ion-row no-padding class="row-custom mgtd-10 mgtop-20">
            <ion-col col-4 *ngFor="let item of promotionList">
              <!-- <h6 class="center">{{item.name}}</h6>
              <img [src]="item.image"> -->
              <ion-card>
                <img [src]="item.image" />
                <div class="card-title">{{item.name}}</div>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-scroll>
      </div>
    </ion-list>

    <ion-list *ngSwitchCase="'popular'">
      popular
    </ion-list>

    <ion-list *ngSwitchCase="'favolite'">
      favorite
    </ion-list>
  </div>
</ion-content>