// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  star: #f2d43a,
  yello: #f2d43a
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
.toolbar-background-ios {
  background: #f2d43a !important;
}
.tabs-ios .tabbar {
  background: #f2d43a !important;
}

.tabs-ios .tab-button-icon {
  color: #ffffff !important;
}

.toolbar-title-ios {
  color: #ffffff !important;
}

.tabs-ios .tab-button:hover:not(.disable-hover), .tabs-ios .tab-button[aria-selected=true] {
  color: #ffffff !important;
}

.scroll-content {
  background-color: #f2f2f2 !important;
}

.bar-button-default-ios {
  color: #ffffff !important;
}

.segment-ios .segment-button {
  border-color: #f2f2f2 !important;
  color: #1f1e1e !important;
}

.segment-ios .segment-button.segment-activated {
  background-color: #f2f2f2 !important;
  color: #000000;
  font-weight: bold;
  border-bottom: 4px solid #f2d43a !important;
}

.button-ios-yello {
  color: #ffffff !important;
  font-weight: bold !important;
}



// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
